<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>RAIL TPU Monitor</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway|Open+Sans">
    <link rel="icon" pan-favicon="" href="data:image/svg+xml;charset=UTF-8;base64,PHN2ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDMyIDMyIiB3aWR0aD0iMTAwJSIgZml0PSIiIHByZXNlcnZlQXNwZWN0UmF0aW89InhNaWRZTWlkIG1lZXQiIGZvY3VzYWJsZT0iZmFsc2UiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEgOWg0djNIMXptMCA1aDR2M0gxem0wIDVoNHYzSDF6IiBmaWxsPSIjNUM4NURFIj48L3BhdGg+PHBhdGggZD0iTTI2IDloNHYzaC00em0wIDVoNHYzaC00em0wIDVoNHYzaC00eiIgZmlsbD0iIzMzNjdENiI+PC9wYXRoPjxwYXRoIGQ9Ik0xOSAxaDN2NGgtM3ptLTUgMGgzdjRoLTN6TTkgMWgzdjRIOXoiIGZpbGw9IiM1Qzg1REUiPjwvcGF0aD48cGF0aCBkPSJNMTkgMjZoM3Y0aC0zem0tNSAwaDN2NGgtM3ptLTUgMGgzdjRIOXoiIGZpbGw9IiMzMzY3RDYiPjwvcGF0aD48cGF0aCBkPSJNNSA1djIxaDIxVjVINXptMTggMThIOFY4aDE1djE1eiIgZmlsbD0iIzg1QTRFNiI+PC9wYXRoPjxwYXRoIGQ9Ik0xMSAxMWg5djloLTl6IiBmaWxsPSIjODVBNEU2Ij48L3BhdGg+PHBhdGggZD0iTTIwIDIwaC00LjV2LTQuNUwyMCAxMXoiIGZpbGw9IiMzMzY3RDYiPjwvcGF0aD48cGF0aCBkPSJNMjAgMjBoLTlsNC41LTQuNXoiIGZpbGw9IiM1Qzg1REUiPjwvcGF0aD48L3N2Zz4=">
</head>

<body>
    <div class="container">
        <h1>RAIL TPU Monitor</h1>
        <div class="subtitle">[<a href="https://github.com/kvablack/tpu-monitor">source code</a>]</div>

        {# VM Groups Block #}
        {% if vm_groups %}
            {% for group_name, vms in vm_groups.items() %}
                <h2>{{ group_name }} TPUs</h2>
                <span class="last-updated">last updated <span class="time" data-time="{{ vm_now.isoformat() }}"></span> ago</span>
                <hr/>
                <div class="vm-container">
                    {% for vm in vms|sort(attribute="name") %}
                    <h3>{{ vm.name }}</h3>
                    <div class="chip-container">
                        {% if vm.usage %}
                            {% for chip_id, chip in vm.usage|dictsort %}
                                {% if chip.user %}
                                    <div class="chip-used">
                                        chip {{ chip_id }}: used by <span class="user">{{ chip.user }}</span> for at least <span class="time" data-time="{{ chip.last_changed.isoformat() }}" data-now="{{ vm_now.isoformat() }}"></span>
                                    </div>
                                {% else %}
                                    <div class="chip-unused">
                                        chip {{ chip_id }}: <span class="user">unused</span> for at least <span class="time" data-time="{{ chip.last_changed.isoformat() }}" data-now="{{ vm_now.isoformat() }}"></span>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <div class="error">error communicating with TPU</div>
                        {% endif %}
                    </div>
                {% endfor %}
                </div>
            {% endfor %}
        {% endif %}

        {# Filestore Block #}
        {% if filestore_results %}
            <h2>Filestores</h2>
            {% for filestore_id, entries in filestore_results.items() %}
                <h3>{{ filestore_id }}</h3>
                <span class="last-updated">last updated <span class="time" data-time="{{ fs_now.isoformat() }}"></span> ago</span>
                <hr/>
                <div class="filestore-container fs-container">
                    {% for size, path in entries %}
                        <div class="filestore-entry">
                            <strong>Path:</strong> {{ path }} <strong>Size:</strong> {{ size }}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <script>
        function updateTime() {
            const times = document.getElementsByClassName('time');
            for (const time of times) {
                const date = new Date(time.getAttribute('data-time'));
                const now = time.hasAttribute('data-now') ? new Date(time.getAttribute('data-now')) : new Date();
                const diff = now - date;

                if (diff < 1000) {
                    time.innerHTML = '0 seconds';
                    continue;
                }

                const seconds = Math.floor(diff / 1000);
                const minutes = Math.floor(seconds / 60);
                const hours = Math.floor(minutes / 60);
                const days = Math.floor(hours / 24);
                var timeStr = '';
                if (days > 0) {
                    timeStr += days + (days == 1 ? ' day' : ' days') + (hours % 24 > 0 || minutes % 60 > 0 || seconds % 60 > 0 ? ', ' : '')
                }
                if (hours % 24 > 0) {
                    timeStr += (hours % 24) + (hours % 24 == 1 ? ' hour' : ' hours') + (minutes % 60 > 0 || seconds % 60 > 0 ? ', ' : '')
                }
                if (minutes % 60 > 0) {
                    timeStr += (minutes % 60) + (minutes % 60 == 1 ? ' minute' : ' minutes') + (seconds % 60 > 0 ? ', ' : '')
                }
                if (seconds % 60 > 0) {
                    timeStr += (seconds % 60) + (seconds % 60 == 1 ? ' second' : ' seconds')
                }
                time.innerHTML = timeStr;
            }
        }
        updateTime();
        setInterval(updateTime, 1000);
    </script>

</html>